.postItem{
    margin-bottom:20px;
    .wrap_thumb{
        float:left;
        overflow: hidden;
        width:150px;
        background-color:#eee;
        img{
         display: block;
         width:100%;
         height:auto
      }
     }
     .wrap_info{
         overflow: hidden;
         strong{
             display:block;
             font-size:18px;
             margin:5px 0;
         }
         p{
             overflow: hidden;
             height:56px;
             text-overflow: ellipsis;
             display:-webkit-box;
             -webkit-line-clamp: 3;
             -webkit-box-orient: vertical;
             word-break: break-all;
         }
     }
     .wrap_thumb{margin-right:20px}
    
     &:after{display:block;clear:both;content:""}
}