main{
    max-width: 740px;
    margin:0 auto;
    padding:40px 0;
    &:after{display:block;clear: both;content:''}
}
.Banner{margin-top:50px}
.Ranking{overflow: hidden;padding-top:50px;}
.postList{float:left;width:600px;padding-top:50px;margin-right:40px}